{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About
{% endblock %}


{% block titulo_block %}
    Sobre o Rango
{% endblock %}


{% block subtitulo_block %}
    O Rango é uma aplicação que tem por objetivo o gerenciamento de links.
{% endblock %}

{% block body_block %}

<div>
    <img src="{% static "images/rango2.jpg" %}"
         alt="Picture of Rango" />
    <br/>
    <br/>
    <img src="/media/rango_cartaz.jpg" alt="Picture of Rango" />
    <br/>
    <hr>
    <br/>
    Essa página foi criada por {{ autor }}
    <br/>
</div>
{% endblock %}