{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Adicionar Categoria
{% endblock %}


{% block titulo_block %}
    Adicione uma nova categoria
{% endblock %}


{% block body_block %}
    <div>
    <form id="category_form" method="post" action="{%  url 'add_category' %}">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}
            {{ field }}
        {% endfor %}
        <button class="btn btn-primary" type="submit" name="submit">
            Criar categoria
        </button>
        {#<input type="submit" name="submit" value="Criar Categoria" />#}
    </form>
</div>
{% endblock %}
