{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Adicionar Página
{% endblock %}

{% block titulo_block %}
    Adicione uma página nova em <a href="{% url 'show_category' category.slug %}"> {{ category.name }}</a>
{% endblock %}


{% block body_block %}
    {% if category %}
        <div>
            <form role="form" id="page_form" method="post" action="{%  url 'add_page' category.slug %}">
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                {% for field in form.visible_fields %}
                    {{ field.errors }}
                    {{ field.help_text }} <br/>
                    {{ field }} <br/>
                {% endfor %}
                <br/>
                <button class="btn btn-primary"
                        type="submit" name="submit">
                    Criar página em {{category.name}}
                </button>
            </form>
        </div>
    {%  else %}
        <p>Essa categoria não existe.</p>
    {% endif %}
{% endblock body_block %}