{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {{ category.name }}
{% endblock title_block%}

{% block titulo_block %}
    Páginas da categoria <a href="{% url 'show_category' category.slug %}"> {{ category.name }}</a>
{% endblock %}


{% block subtitulo_block %}
    Veja as páginas cadastradas na categoria {{category.name}}
{% endblock %}

{% block body_block %}
    <div>
        {% if category %}
            {% if pages %}
                <ul>
                    {% for page in pages %}
                        <li><a _target='blank' href="{{ page.url }}">{{ page.title }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <strong>Não há páginas nessa categoria.</strong>
            {% endif %}
            {% if user.is_authenticated %}
                <a href="{% url 'add_page' category.slug %}">Adicionar Página em {{ category.name }}</a>
            {% endif %}
        {% else %}
            A categoria especificada não existe!
        {% endif %}
    </div>
{% endblock body_block %}