<!DOCTYPE html>
<html>
<head>
    <title>Rango - {{ category.name }}</title>
</head>
<body>
<div>
    {% if category %}
        <h1>{{ category.name }}</h1>
        {% if pages %}
            <ul>
                {% for page in pages %}
                    <li><a _target='blank' href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>Não há páginas nessa categoria.</strong>
        {% endif %}
    {% else %}
        A categoria especificada não existe!
    {% endif %}
</div>
<div>
    <br/>
    <hr>
    {#    <a href="/rango/{{ category.slug }}/add_page">Adicionar Página em {{ category.name }}</a><br />#}
    {% if category %}
        <a href="{% url 'add_page' category.slug %}">Adicionar Página em {{ category.name }}</a><br />
    {% endif %}
    <a href="{% url 'index' %}">Voltar para home</a>
</div>
</body>
</html>