{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Home
{% endblock %}

{% block titulo_block %}
    Rango diz...
{% endblock %}

{% block subtitulo_block %}
    <div>
    {% if user.is_authenticated %}
        howdy {{ user.username }}!
    {% else %}
        hey there partner!
    {% endif %}
    </div>
{% endblock %}



{% block body_block %}
<h2>Categorias mais curtidas</h2>
<div>
    {% if categories %}
        <ol>
            {% for category in categories %}
                <li><a href="{% url 'show_category' category.slug %}"> {{ category.name }}</a> ({{ category.likes }})</li>
            {% endfor %}
        </ol>
    {% else %}
        <strong>Não há categorias cadastradas.</strong>
    {% endif %}
</div>

<h2>Páginas mais acessadas</h2>
<div>
    {% if pages %}
        <ol>
            {% for page in pages %}
                <li><a href="{{ page.url }}"> {{ page.title }}</a> ({{ page.views }})</li>
            {% endfor %}
        </ol>
    {% else %}
        <strong>Não há páginas cadastradas.</strong>
    {% endif %}
</div>
<img src="{% static "images/rango.jpg" %}" alt="Picture of Rango" />
{% endblock %}
