<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <title>Rango</title>
</head>
<body>
<h1>Bem vindo</h1>

<div>
    {% if categories %}
        <ul>
            {% for category in categories %}
                <li>{{ category.name }} - {{ category.likes }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>Nenhuma categoria cadastrada</strong>
    {% endif %}
</div>

<div>
    <a href="/rango/about/">About</a><br />
    <img src="{% static "images/rango.jpg" %}"
         alt="Picture of Rango" />
    <hr>
    {{ autor }}
</div>
</body>
</html>