{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Entrar
{% endblock %}

{% block titulo_block %}
    Entrar em Rango
{% endblock %}

{% block subtitulo_block %}
    Informe seus dados
{% endblock %}

{% block body_block %}
    <form class="form-signin" role="form" method="post" action=".">
        {% csrf_token %}
        <label for="inputUsername" class="sr-only">Nome do usuário:</label>
        <input type="text" name="username" id="id_username" class="form-control"
               placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Senha:</label>
        <input type="password" name="password" id="id_password" class="form-control"
               placeholder="Password" required>
        <br/>
        <button class="btn btn-lg btn-primary btn-block" type="submit"
                value="Submit" >Entrar</button>
    </form>
    <p>Não é um membro ainda? <a href="{% url 'register' %}">Registre-se</a>!</p>
{% endblock %}