{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Registre-se
{% endblock title_block%}

{% block body_block %}
    <h1>Registre-se para o Rango</h1>
    {% if registered %}
        Rango diz: <strong>obrigado por se registrar!</strong>
        <a href="{% url 'index' %}">Volte à página principal.</a><br />
    {% else %}
        Rango diz: <strong>registre-se aqui!</strong><br />
        <form id="user_form" method="post" action="{% url 'register' %}"
              enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            <input type="submit" name="submit" value="Registre-se" />
        </form>
    {% endif %}
{% endblock body_block %}