{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Registre-se
{% endblock title_block%}

{% block titulo_block %}
    Informe seus dados para se cadastrar no Rango!
{% endblock %}


{% block subtitulo_block %}
    {% if registered %}
        Rango diz: <strong>Você já está cadastrado!</strong>
    {% else %}
        Rango diz: <strong>Registre-se aqui!</strong><br />
    {% endif %}
{% endblock %}

{% block body_block %}
    {% if registered %}
        <a href="{% url 'index' %}">Volte à página principal.</a><br />
    {% else %}
        <form id="user_form" method="post" action="{% url 'register' %}"
              enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            <input type="submit" name="submit" value="Registre-se" />
        </form>
    {% endif %}
{% endblock body_block %}