{% extends 'rango/base.html' %}
{% load staticfiles %}
{% load bootstrap_toolkit %}

{% block title_block %}
    Registrar-se
{% endblock %}

{% block titulo_block %}
    <h2 class="form-signin-heading">Rango diz:</h2>
{% endblock %}

{% block subtitulo_block %}
    <div>
        <h2 class="form-signin-heading"><strong>Registre-se aqui!</strong><br /></h2>
    </div>
{% endblock %}

{% block body_block %}
    {% if registered %}
        Rango diz: <strong>obrigado por registrar-se!</strong>
        <a href="{% url 'index' %}">Retornar para o inicio.</a><br/>
    {% else %}
         <form role="form" id="user_form" method="post" action="{% url 'register' %}"
              enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form|as_bootstrap }}
            {{ profile_form|as_bootstrap }}
            <br/>
            <button class="btn btn-primary" type="submit" name="submit">
                Registre-se
            </button>
        </form>
    {% endif %}
{% endblock %}